body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(33, 33, 33);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(11, 8, 27);
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 50px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-temperature img {
  margin-right: 5px;
  margin-top: 20px;
  height: 95px;
  width: 95px;
}
.weather-temperature strong {
  position: relative;
  top: 20px;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -20px;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
.weather-temperature .active {
  cursor: default;
  color: rgb(33, 33, 33);
  text-decoration: none;
}
.weather-temperature .passive {
  text-decoration: none;
  color: rgb(33, 33, 33);
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
.weather-forecast-date {
  font-size: 10px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  color: rgb(40, 40, 121);
}

.weather-forecast-temperture {
  font-size: 18px;
}
.humidity-icon {
  font-size: 25px;
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.source {
  color: rgb(33, 20, 89);
}
