body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(34, 24, 86);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(34, 24, 86);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  text-shadow: 1px 1px 2px rgb(127, 123, 171);
}
.weather-temperature .active {
  cursor: default;
  color: rgb(33, 33, 33);
  text-decoration: none;
}
.weather-temperature .passive {
  text-decoration: none;
  color: rgb(33, 33, 33);
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperture-min {
  opacity: 0.5;
}

.weather-forecast-temperture {
  font-size: 13px;
}
